<head>
  <script src="/javascripts/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/angular.min.js"></script>
  <script type="text/javascript" src="/javascripts/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/demo.js"></script>
</head>
<body ng-app="jsdmp" ng-controller='DemoCtrl' ng-init="init()">
  <h2>Distributed multi-processing throug the magic of javascript</h2>
  <div class="">
    <p> Current intergal approximation: [[current_approximation]]</p>
    <p> Number of trapazoids computed: [[jobsCompleted]]</p>
    <p> Currently connected users: [[numberOfUsers]]</p>
    <p> Percent error from true value: [[numberOfUsers]]</p>
    <p> Job to total time of: [[elapsed_time]]</p>
  </div>
</body>
