<head>
  <script src="/javascripts/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/angular.min.js"></script>
  <script type="text/javascript" src="/javascripts/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/client.js"></script>
</head>
<body ng-app="jsdmp" ng-controller='AppCtrl' ng-init="init()">
  <h1>Example App: Home</h1>
</body>
